{% extends 'base.html.twig' %}
{% block body %}
 <div class="mt-4">
 {{form_start(form)}}
 <div class="form-group">
  {{form_widget(form.title)}}
 </div>
 <div>
 {{form_widget(form.content)}}
 </div>
 {{form_end(form)}}
 </div>
{% endblock %}